.about-new-list li {padding:0 22px 0 24px;cursor:pointer;}
.about-new-list li:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12); /*opera或ie9*/
    background-color: #fff; filter: progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 0.12), Direction=135, Strength=5);/*for ie6,7,8*/ 
    -moz-box-shadow:0 4px 12px rgba(0, 0, 0, 0.12);/*firefox*/ 
    -webkit-box-shadow:0 4px 12px rgba(0, 0, 0, 0.12)/*webkit*/
}
.about-new-cons {float:left;margin-top:44px;}
.about-new-imgs {float:right;width:200px;height:130px;background: pink;margin:48px 0 24px 0;}
.about-new-data {float:left;}
.about-new-day {font-size:28px;color:#999;display: block;}
.about-new-year {font-size:16px;color:#999;display: block;}
.splice-line {width:40px;height:1px;background: #BFBFBF;float:left;margin:19px 24px}
.about-new-title{float:left;margin-top:4px;font-size:20px;color:#333;width:600px;}
.arrows{color:#C5C5C5;margin:0 97px 0 27px;float:left;background:#fff;width:36px;height:30px;line-height:30px;text-align:center;vertical-align: middle;}
.about-new-description{font-size:14px;color:#B8B8B8;width:600px;float:left;line-height:17px;}
.about-new-consBottom{margin-top:13px;}
.listActive{color:#333}
.listActive1{width:70px;background: #333;}
